body{
     background-image:url("images/bg.jpg");
	 background-repeat:no-repeat;
	 background-size: cover;
}

.cadre{
     float:center;
	 height:500px;
	 width:cover;
	 margin-left:80px;
	 margin-right:80px;
	 margin-top:80px;
	 background-color:rgba(0, 200, 200, 0.5);
	 font-family:verdana;
	 font-size:25px;
	 font-weight:bold;
	 background-position:center center;
	 
}